{% load static %}
<html>

<head>
    {% if title %}
    <title>First Webpage - {{ title }}</title>
    {% else %}
    <title>First Webpage</title>
    {% endif %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'static/style.css' %}">
    <style>
        
        body {background-color: lemonchiffon;}
        h4   {color: blueviolet;}
        p    {color: blueviolet;}

    </style>
</head>


<body>
    <main role=" main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
</body>

</html